body * {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed'
}

/*** initial styling for the landing page ***/
fieldset {
	border: 0;
}

.welcoming-container {
	text-align: center;
	height: 100vh;
	padding-top: 200px;
	background: linear-gradient(
      	rgba(0, 0, 0, 0.7),
      	rgba(0, 0, 0, 0.7)
    	), 
		url('../images/welcoming-background.jpg')
	background-repeat: no-repeat;
	background-size: cover;
}

.welcoming-container h1 {
	font-size: 2.5em;
}

.welcoming-container h4 {
	font-size: 1.5em;
}

.welcoming-container h1, .welcoming-container h4 {
	color: white;
}

/*** recipe list ***/
.recipe-container {
	margin-top: 15px;
}

@media only screen and (max-width: 640px) {
	.recipe-container {
		text-align: center;
	}

	.welcoming-container {
		padding-top: 100px;
	}
}

.recipe {
	margin-top: 10px;
	margin-bottom: 10px;
}

.recipe-summary {
	margin-top: 10px;
}

.recipe-label {
	font-size: 1.5em;
}

img {
	height: 200px;
	width: 200px
}

.recipe-information {
	font-size: 1em;
	position: relative;
}

.information {
	display: block;
	margin-bottom: 5px;
}

.ingredients-list {
	margin-top: 10px;
}

.js-display-ingredients {
	display: none;
}

.more-recipes {
	text-align: center;
	margin-top: 15px;
}

@media only screen and (min-width: 640px) {
	.recipe-information {
		top: 20px;
	}
}

.new-search {
	margin-left: 5px;
}