/** universal styling ***/
body * {
	box-sizing: border-box;
}

body {
	font-family: 'Comic Sans MS';
	background-color: #f5f5f0;
}

main {
	position: relative;
}

button {
	display: inline-block;
}

fieldset {
	border: 0;
}

img {
	height: 200px;
	width: 200px
}

.welcoming-container {
	height: 100vh;
	width: 100vw;
	display: table;
	background: linear-gradient(
      				rgba(0, 0, 0, 0.7),
      				rgba(0, 0, 0, 0.7)
    			),
				url('../images/welcoming-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.welcoming-container h1 {
	font-size: 2.5em;
}

.welcoming-container h4 {
	font-size: 1.5em;
}

.welcoming-container h1, .welcoming-container h4 {
	color: white;
}

.welcoming-inner {
	display: table-cell;
	vertical-align: middle;
}

.welcoming-headers {
	text-align: center;
}

.food-query {
	width: calc(100% / 3);
	padding-left: 15px;
	border: 1px solid orange;
	border-radius: 5%;
}

.food-query, .search-button, .more-recipes-button {
	height: 50px;
}

.search-button, .more-recipes-button, .show-ingredients {
	background-color: orange;
	border: 1px solid white;
	color: white;
	border-radius: 5%;
}

.search-button {
	width: calc(100% / 5);
}

.new-search {
	width: 100%;
}

.new-search-fieldset {
	padding-left: 0px;
}

.show-ingredients {
	height: 35px;
	margin: 0 auto;
}

.recipe-container, .more-recipes {
	position: relative;
	top: 85px;
}

.recipe-container {
	margin-top: 15px;
}

.recipe {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	padding-bottom: 30px;
}

.recipe-summary {
	margin-top: 10px;
}

.recipe-label {
	font-size: 1.5em;
	margin-top: 5px;
}

.recipe-information {
	font-size: 1em;
	position: relative;
}

.information {
	display: block;
	margin-bottom: 5px;
}

.ingredients-list {
	margin-top: 10px;
}

.js-display-ingredients {
	display: none;
}

.more-recipes {
	text-align: center;
	padding-bottom: 25px;
}

.new-search-container {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
	background-color: #f5f5f0; 
}

/*** media queries **/
@media only screen and (max-width: 640px) {
	.recipe-container {
		text-align: center;
	}

	.recipe{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.welcoming-container {
		padding-top: 100px;
	}

	.food-query, .search-button {
		width: calc(100% / 2);
	}

	.search-button {
		margin-top: 10px;
	}

	.recipe-container, .more-recipes {
		position: relative;
		top: 75px;
	}

	.new-search-fieldset {
		text-align: center;
	}
}

@media only screen and (min-width: 640px) {
	.recipe-information {
		top: 20px;
	}

	.new-query {
		margin-right: 15px;
	}

	.new-search-button {
		margin-left: 10px;
	}
}
