body * {
	box-sizing: border-box;
}

/*** initial styling for the landing page ***/
fieldset {
	border: 0;
}

.container {
	text-align: center;
}

/*** recipe list ***/
.recipe-container {
	margin-top: 15px;
}

@media only screen and (max-width: 640px) {
	.recipe-container {
		text-align: center;
	}
}

.recipe {
	margin-top: 10px;
}

.recipe-summary {
	margin-top: 10px;
}

.recipe-label {
	font-size: 1.5em;
}

img {
	height: 200px;
	width: 200px
}

.recipe-information {
	font-size: 1.25em;
	position: relative;
	top: 25px;
}

.information {
	display: block;
	margin-bottom: 5px;
}