/** universal styling ***/
body * {
	box-sizing: border-box;
}

body {
	font-family: 'Comic Sans MS';
}

main {
	background-color: #f5f5f0;
}

button {
	display: inline-block;
}

/*** initial styling for the landing page ***/
fieldset {
	border: 0;
}

.welcoming-container {
	text-align: center;
	height: 100vh;
	padding-top: 200px;
	background: linear-gradient(
      				rgba(0, 0, 0, 0.7),
      				rgba(0, 0, 0, 0.7)
    			),
				url('../images/welcoming-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.welcoming-container h1 {
	font-size: 2.5em;
}

.welcoming-container h4 {
	font-size: 1.5em;
}

.welcoming-container h1, .welcoming-container h4 {
	color: white;
}

.food-query {
	width: calc(100% / 3);
	padding-left: 15px;
	border: 1px solid orange;
}

.search-button {
	width: calc(100% / 5);
	background-color: orange;
	border: 1px solid white;
	color: white;
}

.food-query, .search-button {
	height: 50px;
	border-radius: 5%;
}

/*** recipe list ***/
.recipe-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.recipe-container, .new-search {
	/**background-color: #f5f5f0;****/
}

.recipe {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
}

.recipe-summary {
	margin-top: 10px;
}

.recipe-label {
	font-size: 1.5em;
}

img {
	height: 200px;
	width: 200px
}

.recipe-information {
	font-size: 1em;
	position: relative;
}

.information {
	display: block;
	margin-bottom: 5px;
}

.ingredients-list {
	margin-top: 10px;
}

.js-display-ingredients {
	display: none;
}

.more-recipes {
	text-align: center;
	margin-top: 15px;
}

.new-search {
	padding-left: 0px;
}

.new-search-fieldset {
	padding-left: 0px;
}

.more-recipes-button, .show-ingredients {
	background-color: orange;
	border: 1px solid white;
	color: white;
	border-radius: 5%;
}

.more-recipes-button {
	height: 50px;
}

.show-ingredients {
	height: 35px;
	margin: 0 auto;
}

/*** media queries **/

@media only screen and (max-width: 640px) {
	.recipe-container {
		text-align: center;
	}

	.recipe{
		margin-top: 50px;
		margin-bottom: 50px
	}

	.welcoming-container {
		padding-top: 100px;
	}

	.food-query, .search-button {
		width: calc(100% / 2);
	}

	.search-button {
		margin-top: 10px
	}
}

@media only screen and (min-width: 640px) {
	.recipe-information {
		top: 20px;
	}
}
